/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thiết lập font và màu nền cơ bản */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1478A6;
    color: #fff;
    overflow-x: hidden; /*Ngăn chặn việc background bị cuộn ngang*/
}

/* Phần ảnh đầu trang */
#img-first {
    width: 100vw;
    height: 50vh; /* Chiếm nửa chiều cao màn hình */
    overflow: hidden;
}

#img-first img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỉ lệ hình ảnh */
}

/* Section sản phẩm */
.product-section {
    display: flex;
    justify-content: center; /* Căn giữa các thẻ */
    gap: 100px; /* Khoảng cách giữa các thẻ */
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;

}

.product-card {
    background-color: #034159;
    border-radius: 8px;
    padding: 1em;
    width: 300px; /* Đặt kích thước cho khung sản phẩm */
    text-align: left; /*Nội dung bên trong thẻ hiển thị bên trái qua*/
}

/* Ảnh cá */
.img-fish {
    width: 100%;
    height:60vh;
    margin-top:0; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.img-fish img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Thông tin sản phẩm */
.product-info h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.35rem;
     margin-left: 30px;
}

button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8em 0.8em;
    margin-bottom: 10%;
    border: none;
    background-color: #147CA6;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #147CA6;
}

/* Chi tiết sản phẩm */
.product-details p {
    font-size: medium;
    margin: 0.2rem 0;
    color: #d1d1d1;
}
.product-info a{
    margin-left: 3rem;
    margin-bottom: 2rem;
}