<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koi Fish Project</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="header-top">
                <p id="sodienthoai">
                    <i class="fas fa-phone-alt"></i> Call: 0989-522-125
                </p>
                <div id="social">
                    <a href="https://www.facebook.com/Quangonkoi/" id="fb"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/quang.koi.nht" id="ig"><i class="fa-brands fa-tiktok"></i></a>
                    <a href=" https://www.youtube.com/OnkoiQuangMinh" id="yt"><i class="fab fa-youtube"></i></a>
                    <a href=" https://x.com/onkoivn" id="tw"><i class="fab fa-twitter"></i></a>
                </div>
                <a id="dieukhoanchinhsach" href="#">
                    <i class="fas fa-file-alt"></i> Chính sách điều khoản
                </a>
                <div id="dangnhapdangki">
    <a id="dangnhap" <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li><i class="fas fa-sign-in-alt"></i></a> |
    <a id="dangki" <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Đăng ký</a>
        </li><i class="fas fa-user-plus"></i></a>
</div>
            </div>
            <div id="header-main-container">
                <img src="~/images/logo koi care system.png" alt="logo">

                <form id="search">
                    <input type="text" placeholder="Bạn muốn tìm gì?">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="test">
                    <ul id="nav">
                        <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
</li>
<li>

    <a id="dichvu" href="#">Dịch vụ</a>
    <ul class="subnav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Aquarium" asp-action="Index">Danh sách hồ</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Koi" asp-action="Index">Danh sách cá Koi</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodCalculator" asp-action="Calculate">Tính toán lượng thức ăn</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SaltCalculator" asp-action="Calculate">Tính toán lượng muối</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="WaterParameters" asp-action="Index">Thông số nước</a>
        </li>

    </ul>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="CaKoiNhat" asp-action="Index">Cá Koi Nhật</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sanpham" asp-action="Index">Sản phẩm</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Lienhe" asp-action="Index">Liên hệ</a>
</li>
                    </ul>

                </div>

            </div>
            <section class="info-section">
                <div class="title-header">
                    <a style="text-decoration: none; color:white; margin-top:30px;" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <p style="margin-top: 30px;"> > Tin tức</p>
                </div>

                <div class="title2">
                    <p>Tin tức</p>
                </div>
                <div id="title-info">
                    <h2>TIÊU ĐỀ: XU HƯỚNG NUÔI CÁ KOI - NIỀM ĐAM MÊ VÀ THÚ VUI ĐẲNG CẤP</h2>
                    <p style="margin-top: 20px;">Ngày đăng: Ngày/ Tháng/ Năm.</p>
                </div>
                <div id="img-info">
                    <img src="https://img.pikbest.com/origin/09/18/71/55bpIkbEsTUA3.jpg!w700wp" alt="ảnh cá koi">
                </div>
                <div id="info" style="text-align: justify;">
                    <p style="margin-top: 30px;">Cá Koi, loài cá biểu tượng của sự may mắn và thành công trong văn hóa Nhật Bản, ngày càng trở nên phổ biến trên toàn thế giới, bao gồm cả Việt Nam. Những năm gần đây, việc nuôi cá Koi không chỉ đơn giản là một thú vui giải trí mà còn trở thành một nghệ thuật, đòi hỏi người nuôi phải có sự chăm sóc đặc biệt và kiến thức chuyên sâu.</p>
                    <p style="font-weight: bold;">1. Nguồn Gốc Cá Koi Cá Koi </p>
                    <p>Cá Koi có nguồn gốc từ Nhật Bản và là kết quả của quá trình lai tạo cá chép, tạo nên những màu sắc rực rỡ và độc đáo như đỏ, trắng, đen, vàng. Cá Koi không chỉ là một loài cá cảnh, mà còn mang nhiều ý nghĩa phong thủy, biểu tượng cho sự bền bỉ, kiên cường và may mắn. 2. Sự Phổ Biến Của Cá Koi Ở Việt Nam Với nhu cầu ngày càng cao, nhiều trang trại cá Koi tại Việt Nam đã mở cửa nhằm cung cấp các giống cá Koi chất lượng. Tại các thành phố lớn, nhiều hồ cá Koi tại gia đình, nhà hàng, và khu nghỉ dưỡng đã trở thành điểm nhấn ấn tượng, tạo không gian xanh mát và thư giãn cho mọi người.</p>
                    <p style="font-weight: bold;">2. Sự Phổ Biến Của Cá Koi Ở Việt Nam </p>
                    <p>Với nhu cầu ngày càng cao, nhiều trang trại cá Koi tại Việt Nam đã mở cửa nhằm cung cấp các giống cá Koi chất lượng. Tại các thành phố lớn, nhiều hồ cá Koi tại gia đình, nhà hàng, và khu nghỉ dưỡng đã trở thành điểm nhấn ấn tượng, tạo không gian xanh mát và thư giãn cho mọi người. </p>
                    <p style="font-weight: bold;">3. Cách Chăm Sóc Cá Koi đúng Cách </p>
                    <p>Việc nuôi cá Koi đòi hỏi người nuôi cần có kiến thức về môi trường nước, thức ăn, cũng như cách phòng tránh bệnh cho cá. Một hồ cá Koi lý tưởng cần có hệ thống lọc nước hiện đại, đảm bảo độ trong và oxy cho cá. Thức ăn cho cá Koi cũng cần phải đầy đủ dinh dưỡng và được cung cấp đều đặn.</p>
                    <p style="font-weight: bold;">4. Các Loại Cá Koi Phổ Biến Kohaku:</p>
                    <p>Cá có nền trắng với những đốm đỏ đặc trưng. Sanke: Kết hợp ba màu đỏ, đen và trắng. Showa: Mang ba màu đen, đỏ, và trắng nhưng với tỷ lệ màu đen nhiều hơn. Utsurimono: Cá nền đen với các mảng màu sắc khác như đỏ, trắng hoặc vàng.</p>
                    <p style="font-weight: bold;">5. Giá Trị Tinh Thần và Phong Thủy</p>
                    <p> Cá Koi không chỉ đẹp mà còn mang lại ý nghĩa phong thủy tích cực. Nuôi cá Koi trong nhà, nơi làm việc hay khu vườn có thể giúp thu hút tài lộc, mang lại bình an, hạnh phúc cho gia đình.</p>
                    <p style="font-weight: bold;">6. Kết Luận</p>
                    <p style="padding-bottom: 20px;">Việc nuôi cá Koi không chỉ đòi hỏi đam mê mà còn cần sự kiên nhẫn và tình yêu với loài cá này. Hy vọng, với những chia sẻ trên, bạn sẽ có thêm kiến thức và cảm hứng để bắt đầu hành trình chăm sóc và nuôi dưỡng những chú cá Koi xinh đẹp của riêng mình.</p>
                </div>
            </section>

            <!-- Trang tin tức & Blog chia sẻ -->
            <section style="background-color: #023346;" id="blog">
                <div style=" padding: 20px; text-align: center;">
                    <p style="font-weight: bold; font-size: 30px;">Blog Koi Nhật Bản & Tin tức OnKoi - Quang Minh</p>
                    <p style="font-size: 20px;">OnKoi - Quang Minh cung cấp koi và giải pháp chơi cá Koi Nhật Bản.</p>
                </div>
                <div class="blog-container">
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2020/05/mino-koi-farm-300x182.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">KOI FARM JAPAN</p>
                            <p style="font-size: 18px; ;">Xuất phát từ tính yêu với cá Koi Nhật Bản. OnKoi - Quang Minh là trại nuôi cá tuyển chọn 100% từ các Koi farm...</p>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2020/04/quy-trinh-ve-sinh-ho-ca-koi-chuan-chi-300x225.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">Ý NGHĨA VIỆC NUÔI CÁ KOI</p>
                            <p style="font-size: 18px; ;">Từ lâu, trong văn hóa phương Đông. Cá koi đã được xem là biểu tượng của sự ngoan cường, dũng cảm giống như người quân...</p>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2022/04/thuc-an-koi-40-protein-aquamaster-hi-growth-15-kg-CA16_02-300x300.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">GIÁ CÁ KOI CHUẨN NHẬT</p>
                            <p style="font-size: 18px; ;">Giá cá koi chuẩn nhật f0 + f1 70 cm trở lên – cam kết 100% nhập khẩu từ nhật bản Onkoi là koi farm...</p>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            

            

</body>
</html>
