<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koi Fish Project</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="header-top">
                <p id="sodienthoai">
                    <i class="fas fa-phone-alt"></i> Call: 0989-522-125
                </p>
                <div id="social">
                    <a href="https://www.facebook.com/Quangonkoi/" id="fb"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/quang.koi.nht" id="ig"><i class="fa-brands fa-tiktok"></i></a>
                    <a href=" https://www.youtube.com/OnkoiQuangMinh" id="yt"><i class="fab fa-youtube"></i></a>
                    <a href=" https://x.com/onkoivn" id="tw"><i class="fab fa-twitter"></i></a>
                </div>
                <a id="dieukhoanchinhsach" href="#">
                    <i class="fas fa-file-alt"></i> Chính sách điều khoản
                </a>
                <div id="dangnhapdangki">
    <a id="dangnhap" <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li><i class="fas fa-sign-in-alt"></i></a> |
    <a id="dangki" <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Đăng ký</a>
        </li><i class="fas fa-user-plus"></i></a>
</div>
            </div>
            <div id="header-main-container">
                <img src="~/images/logo koi care system.png" alt="logo">

                <form id="search">
                    <input type="text" placeholder="Bạn muốn tìm gì?">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="test">
                    <ul id="nav">
                        <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
</li>
<li>

    <a id="dichvu" href="#">Dịch vụ</a>
    <ul class="subnav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Aquarium" asp-action="Index">Danh sách hồ</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Koi" asp-action="Index">Danh sách cá Koi</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodCalculator" asp-action="Calculate">Tính toán lượng thức ăn</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SaltCalculator" asp-action="Calculate">Tính toán lượng muối</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="WaterParameters" asp-action="Index">Thông số nước</a>
        </li>

    </ul>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="CaKoiNhat" asp-action="Index">Cá Koi Nhật</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sanpham" asp-action="Index">Sản phẩm</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Lienhe" asp-action="Index">Liên hệ</a>
</li>
                    </ul>

                </div>

            </div>

            <section class="info_product-section">
                <div class="title-header">
                    <a style="text-decoration: none; color:white; margin-top:30px;" href="Guest.html">Trang chủ</a>
                    <p style="margin-top: 30px;"> > Sản phẩm</p>
                </div>

                <div class="title2">
                    <p>Sản phẩm</p>
                </div>
                <div id="info-product">
                    <p style="padding-bottom: 10px;">Nuôi Koi, chơi Koi đang trở thành một trong những xu hướng hiện nay không chỉ đối với các văn phòng công sở mà ngay tại các gia đình, cá nhân. Sự xuất hiện của những chú cá Koi không những đem đến sự sinh động cho không gian mà còn giúp làm giảm sự căng thẳng, mệt mỏi. Đến với OnKoi – Quang Minh có nhiều năm kinh nghiệm trên thị trường nhập khẩu, cung cấp thức ăn cho Koi, giá sỉ cạnh tranh cho các cửa hàng Koi trên toàn quốc., quý khách không chỉ được sở hữu ngay những thiết kế hồ Koi sinh động, hội tụ đầy đủ các tiêu chí: đẹp, ấn tượng, gần gũi với thiên nhiên, đặc biệt giá rẻ. Hãy gọi ngay cho chúng tôi theo Hotline: 0xxx-xxx-xxx</p>
                    <p style="padding-bottom: 10px; font-weight: bold;">OnKoi – Quang Minh với nhiều năm kinh nghiệm trong lĩnh vực cung cấp Koi với những thế mạnh:</p>
                    <p style="margin-left: 10px; ">– Bán- đấu giá- thanh lý cá Koi Nhật với số lượng lớn, mẫu độc nhất.</p>
                    <p style="margin-left: 10px;">– Tư vấn thiết kế, hỗ trợ thi công hồ cá Koi ngoài trời.</p>
                    <p style="margin-left: 10px;">– Cung cấp các loại phụ kiện hồ cá, vật liệu lọc hồ cá Koi số lượng lớn.</p>
                    <p style="padding-bottom: 10px;margin-left: 10px;">– Bán các loại thức ăn cho Koi</p>
                    <p style="padding-bottom: 10px; font-weight: bold;">Cá Koi</p>
                    <p style="font-weight: bold;">OnKoi – Quang Minh chuyên cung cấp cá Koi Nhật chất lượng cao đảm bảo:</p>
                    <p style="margin-left: 10px; ">– Qúy khách hàng sẽ được mua Koi nhập khẩu trực tiếp từ Nhật Bản, kiểm định và cấp phép bởi Cục Thú y.</p>
                    <p style="margin-left: 10px; ">– Koi trước khi bán đã được kiểm dịch, có nguồn gốc xuất xứ rõ ràng, có giấy khai sinh và chứng nhận từ những trại uy tín kèm theo.</p>
                    <p style="margin-left: 10px; ">– Koi không tật lỗi, không bị bệnh trên người như đuôi cong, sứt vảy, đuôi ngắn, râu ngắn hoặc mất râu… Koi khỏe mạnh, bơi lội mạnh mẽ, màu sắc rõ ràng.</p>
                    <p>OnKoi – Quang Minh là trang trại Cá Koi lớn nhất Miền Bắc chuyên phân phối sỉ và lẻ cá koi trên toàn quốc với diện tích hàng chục hecta. Tại đây, sở hữu nhiều hồ nuôi, hồ dưỡng hiện đại với thiết kế hồ Koi theo tiêu chuẩn hiện đại của Nhật Bản. Tất cả các em Koi của chúng tôi đều được tuyển chọn kỹ lưỡng 100% với các size cực lớn, tosai, và được tuyển chọn từ các hồ koi, trang trại Koi danh tiếng tại Nhật Bản từ dòng F0 và F1 với nhiều mức giá khác nhau.</p>
                    <p style="padding-bottom: 10px;">Bên cạnh đó, tất cả những em Koi do chúng tôi cung cấp đều được bảo hành lâu dài, cam kết sẵn sàng đền gấp 10 lần giá trị Koi nếu như không đúng mô tả. Đặc biệt, đối với những khách hàng sở hữu hồ Koi do OnKoi – Quang Minh trực tiếp thiết kế và thi công sẽ được bảo hành cá từ 1 năm đến vài năm. Ngoài ra, để đảm bảo quyền lợi của khách hàng, chúng tôi còn hỗ trợ các khách hàng cách chăm sóc Koi để làm sao giá trị hồ Koi của quý vị tăng lên gấp nhiều lần.</p>
                    <div style="text-align: left;">
                        <p>Đại Học Giao Thông Vận Tải TP HCM</p>
                        <ul style="margin-left: 40px;">
                            <li>Địa chỉ: Đại Học Giao Thông Vận Tải TP HCM</li>
                            <li>Website: KoiCareSystem.com</li>
                            <li>Hotline: 012-345-678</li>
                            <li>Email: abc-xyz@gmail.com</li>
                            <li>Mail: Info@onkoi.vn</li>
                        </ul>
                    </div>
            </section>
            </section>
            <section class="tag-product-section">
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/07/choi-loc-onkoi-140-vip-cay-dai-60-80-100.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="font-size: 1.4rem;margin-left: 10px;">CHỔI LỌC HỒ ONKOI</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem;">33.000đ</p>
                        <a href="https://onkoi.vn/san-pham/choi-loc-ho-on-koi-140-vip-cay-dai-60-80-100cm-chieu-ngang-cay-14cm"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Chổi lọc hồ On Koi 140 VIP giúp hỗ trợ loại bỏ các chất thải lơ lửng, đồng thời cũng đóng vai trò như một phương tiện lọc cơ học, lọc tách phân và lọc trong nước.</p>
                        </div>
                        <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/05/may-bom-nuoc-chinh-hang-fuji-bien-ta-ngoai-troi-150w.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="margin-left: 10px;">MÁY BƠM NƯỚC FUJI</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/may-bom-nuoc-chinh-hang-fuji-bien-tan-ngoai-troi-danh-cho-ho-ca-ho-ca-koi"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Máy bơm nước chính hãng Fuji biến tần ngoài trời dành cho hồ cá, hồ cá koi được sử dụng rất phổ biến hiện nay. Đây là dòng máy bơm tăng áp ... </p>
                        </div>
                        <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/04/vat-lieu-da-loc-cao-cap-matrix-chinh-hang-seachem.jpg" alt="san-pham chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1>VẬT LIỆU ĐÁ LỌC</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px;margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/vat-lieu-da-loc-matrix-chinh-hang-seachem-le-100ml-200ml-500ml-1l"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Đá lọc Matrix có diện tích bề mặt rất lớn (> 700m2) được dùng làm giá thể cho hệ vi sinh phát triển mạnh mẽ. Từ đó tạo môi trường nước sạch, khử ammonia...</p>
                        </div>
                    </div>
                    <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                </div>
            </section>

            <section class="tag-product-section">
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/04/substrat-trung-quoc-vat-lieu-loc-cao-cap-cho-be-cap.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="font-size: 1.4rem;margin-left: 20px;">SUBSTRAT CHINA</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem;">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/substrat-trung-quoc-vat-lieu-loc-cao-cap-cho-be-ca-koi-1kg"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Substrat Trung Quốc – vật liệu lọc cao cấp cho bể cá koi (1kg) mang đến hiệu quả lọc vượt trội so với các loại vật liệu lọc trong cùng tầm giá...</p>
                        </div>
                        <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/04/gom-loc-nhat-cao-cap-dung-cho-be-ca-thuy-san-1.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="margin-left: 30px;">GỐM LỌC NHẬT</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/gom-loc-nhat-cao-cap-dung-cho-be-ca-thuy-san"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Gốm lọc Nhật cao cấp dùng cho bể cá, thủy sản được OnKoi phân phối chính hãng giá hợp lý. </p>
                        </div>
                        <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/04/bui-nhui-jmat-tam-1-2m.jpg" alt="san-pham chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1>BÙI NHÙI JMAT</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px;margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/bui-nhui-jmat-tam-1m-x-2m-chat-luong-cao"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Bùi nhùi Jmat Tấm 1m x 2m chất lượng cao là vật liệu lọc tốt nhất hiện nay. Bùi nhùi Jmat Tấm 1m x 2m rất bền, dễ dàng sử dụng, tiện lợi.</p>
                        </div>
                    </div>
                    <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                </div>
            </section>

            <section class="tag-product-section">
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/03/bui-nhui-dep-nhiet-1m-2m-xuat-su-viet-nam-300x300.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="font-size: 1.4rem;margin-left: 20px;">BÙI NHÙI ÉP NHIỆT</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem;">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/bui-nhui-ep-nhiet-1m-x-2m-xuat-su-viet-nam-chat-luong-cao"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Bùi nhùi ép nhiệt 1m x 2m xuất sứ Việt Nam chất lượng cao được sản xuất và kiểm định nghiêm ngặt, đạt tiêu chuẩn cao.</p>
                        </div>
                        <p style="padding-top: 20px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/03/may-sui-khi-tich-dien-ho-koi-hailea-cpa-120-300x300.jpg" alt="Sản phẩm chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1 style="margin-left: 10px;">MÁY SỦI KHÍ TÍCH ĐIỆN</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px; margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/may-sui-khi-tich-dien-ho-koi-hailea-chinh-hang-cpa-120-cpa-100"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Máy sủi tích điện cho hồ koi thì máy sủi Hailea CPA 100, CPA 120</p>
                        </div>
                        <p style="padding-top: 80px;">Nguời bán: Onkoi Quang Minh</p>
                    </div>
                </div>
                <div class="tag-product-card">
                    <div class="img-fish">
                        <img src="https://onkoi.vn/wp-content/uploads/2024/03/may-suc-khi-ho-koi-jecod-eco-pa-150-120w-768x768.jpg" alt="san-pham chăm sóc cá">
                    </div>
                    <div class="product-info">
                        <h1>MÁY SỦI KHÍ JECOD</h1>
                        <p style="font-size: 15px;">GIÁ MUA NGAY:</p>
                        <p style="font-weight: bold;font-size: 25px;margin: 1.5rem 5rem">LIÊN HỆ</p>
                        <a href="https://onkoi.vn/san-pham/may-suc-khi-ho-koi-jecod-eco-chinh-hang-pa-200-180w-pa-150-120w"><button>ĐẶT HÀNG NGAY</button></a>
                        <div class="tag-product-details">
                            <p>Jecod Eco chính hãng PA-200 180W, PA 150 120W.</p>
                        </div>
                    </div>
                    <p style="padding-top: 80px;">Nguời bán: Onkoi Quang Minh</p>
                </div>
            </section>

            <!-- Trang tin tức & Blog chia sẻ -->
            <section style="background-color: #023346;" id="blog">
                <div style=" padding: 20px; text-align: center;">
                    <p style="font-weight: bold; font-size: 30px;">Blog Koi Nhật Bản & Tin tức OnKoi - Quang Minh</p>
                    <p style="font-size: 20px;">OnKoi - Quang Minh cung cấp koi và giải pháp chơi cá Koi Nhật Bản.</p>
                </div>
                <div class="blog-container">
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2020/05/mino-koi-farm-300x182.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">KOI FARM JAPAN</p>
                            <p style="font-size: 18px; ;">Xuất phát từ tính yêu với cá Koi Nhật Bản. OnKoi - Quang Minh là trại nuôi cá tuyển chọn 100% từ các Koi farm...</p>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2020/04/quy-trinh-ve-sinh-ho-ca-koi-chuan-chi-300x225.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">Ý NGHĨA VIỆC NUÔI CÁ KOI</p>
                            <p style="font-size: 18px; ;">Từ lâu, trong văn hóa phương Đông. Cá koi đã được xem là biểu tượng của sự ngoan cường, dũng cảm giống như người quân...</p>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="img-fish">
                            <img src="https://onkoi.vn/wp-content/uploads/2022/04/thuc-an-koi-40-protein-aquamaster-hi-growth-15-kg-CA16_02-300x300.jpg" alt="cá koi">
                        </div>
                        <div class="blog-info">
                            <p style="font-weight: bold; font-size: 20px; padding-bottom: 20px;">GIÁ CÁ KOI CHUẨN NHẬT</p>
                            <p style="font-size: 18px; ;">Giá cá koi chuẩn nhật f0 + f1 70 cm trở lên – cam kết 100% nhập khẩu từ nhật bản Onkoi là koi farm...</p>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- phần footer -->

           

</body>
</html>
